<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Oswald&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/transition.css">
    <script defer src="../public/js/script.js"></script>
    <title>Vitek</title>
</head>
<body>
    <main>
        <div class="transition transition-2 is-active"></div>
        
        <div class="vitek">
            <img src="../public/icons/VITEK LOGO 1[1599].jpg" alt="">
        </div>
        <div class="image">
            <div class="img1">
                <a href="vitek">VIDRIO-ALUMINIO-PVC</a>
                <img src="../public/img/index1.jpg" alt="">
            </div>
            <div class="img2">
                <a href="vitek">DISTRIBUCIÓN DE ACERO</a>
                <img src="../public/img/index2.jpg" alt="">
            </div>
        </div>
    </main>
</body>
</html>