<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Oswald&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/sent.css">
    <link rel="stylesheet" href="../public/css/transition.css">
    <script defer src="../public/js/script.js"></script>
    <title>Enviado</title>
</head>
<body>
    <div class="transition transition-2 is-active"></div>

    <section class="sent">
            <img src="../public/icons/VITEK LOGO 1[1599].jpg" alt="">
            <h1>Tu mensaje se ha enviado correctamente.</h1>
            <div class="card text-center">
            <a href="vitek">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                      Menu
            </a>  
    </section>
</body>
</html>