<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Oswald&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/vitek.css">
    <link rel="stylesheet" href="../public/css/media.css">
    <link rel="stylesheet" href="../public/css/transition.css">
    <script defer src="../public/js/script.js"></script>
    <title>Vitek</title>
</head>

  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
              <a href="/"><img src="../public/icons/VITEK LOGO 1[1599].jpg" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#menu">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">Acerca</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#services">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#product">Productos</a>
                  </li>
                </ul>
              </div>
        </nav>

        <main>
          <div class="transition transition-2 is-active"></div>

          <div class="menu" id="menu">
            <img src="../public/img/7845.jpg" alt="">
          </div>
          
          <div class="about" id="about">
              <h6>Acerca</h6>
              <h2>Somos una empresa dedicada al suministro e instalación de vidrio y aluminio arquitectónico, que brinda soluciones óptimas para cada proyecto.</h2>
             <section class="mision-vision">
               <div class="card vision">
                 <img src="../public/img/acercade.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title">Visión</h5>
                   <p class="card-text">Ser la empresa líder de cancelería del sector residencial de alta gama, ofreciendo la más alta calidad en productos/servicios, siempre comprometidos con nuestros clientes y personal.</p>
                 </div>
               </div>
               <div class="card mision">
                 <img src="../public/img/ventanas.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title"\>Misión</h5>
                   <p class="card-text">Ofrecer a nuestros clientes soluciones integrales que se ajusten a las necesidades de su proyecto, partiendo de tres principios clave: </p>
                   <h3 class="card-text"><b>C O N F O R T – S E G U R I D A D – E S T E T I C A </b></h3>
                 </div>
               </div>          
             </section>
          </div>
  
          <section class="services" id="services">
            <h6>Servicios</h6>
            <div class="container-services">
                <div class="card">
                    <img src="../public/img/planeation.jpg" alt="">
                    <div class="intro">
                        <h1>Planeación</h1>
                        <p>Trabajamos de la mano con el cliente para ofrecerle la mejor solución en su proyecto, 
                            adaptándonos a sus necesidades y presupuesto.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/img/instalation.jpg" alt="">
                    <div class="intro">
                        <h1>Instalación</h1>
                        <p>Contamos con personal especializado en la instalación de nuestros sistemas, lo cual nos permite optimizar tiempos y costos, 
                            logrando así un excelente control de calidad.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/img/supply.jpg" alt="">
                    <div class="intro">
                        <h1>Suministro</h1>
                        <p>Contamos con servicio de entrega certificado, asegurándonos que nuestros
                            productos lleguen en perfectas condiciones a la obra.</p>
                    </div>
                </div>
            </div>
          </section>
    
          <div class="contact" id="contact">
            <img src="../public/img/test.jpg" alt="">
            <div class="card text-center">
              <div class="card-body">
                <h1>Planea tu proyecto hoy.</h1>
                <p class="card-text">Un asesor se pondrá en contacto contigo lo antes posible.</p>
                <a href="contact">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                    Contacto
                </a>  
                </div>
            </div>
          </div>
       
          <div class="product" id="product">
            <h6>Productos</h6>
            <div class="products">
                <div class="box">
                     <h1>Vidrio</h1>
                     <div class="box-img">
                         <img src="../public/img/barandales.jpg" alt="">
                     </div>
                     <div class="content">
                         <h3>Vidrio</h3>
                         <p>Barandales</p>
                         <a href="contact" class="icon">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                         </a>
                     </div>
                </div>
                <div class="box">
                    <h1>Ventanas</h1>
                    <div class="box-img">
                        <img src="../public/img/ventana.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Ventanas</h3>
                        <p>Domos</p>
                        <a href="contact" class="icon">
                          <i class="fa fa-envelope" aria-hidden="true"></i></i>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <h1>Aluminio</h1>
                    <div class="box-img" class="icon">
                        <img src="../public/img/canceles.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Aluminio</h3>
                        <p>Canceles de baño</p>
                        <a href="contact" class="icon">
                          <i class="fa fa-envelope" aria-hidden="true"></i></i>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <h1>Puertas</h1>
                    <div class="box-img">
                        <img src="../public/img/puerta.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Puertas</h3>
                        <p>Recubrimientos con panel de aluminio</p>
                        <a href="contact" class="icon">
                          <i class="fa fa-envelope" aria-hidden="true"></i></i>
                        </a>
                    </div>
                </div>
                <div class="facades">
                  <div class="box">
                    <h1>Fachadas</h1>
                    <div class="box-img">
                        <img src="../public/img/louvers.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Fachadas</h3>
                        <p>Louvers</p>
                        <a href="contact" class="icon">
                          <i class="fa fa-envelope" aria-hidden="true"></i></i>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            <!-- <div class= "steel">
              <img src="/public/img/acero1.jpg" alt="">
              <div class="card text-center">
                <div class="card-body">
                  <h1>Distribución de acero.</h1>
                  <a href="steel">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                      Productos
                  </a>  
                  </div>
                </div>
            </div> -->
          </div>
  
          <div class="information">
            <section class="business">
              <h4><b>Empresa</b></h4>
              <!-- <div class="box">
                <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></i></div>
                <div class="text">
                  <p>proyectos@vitek.mx</p>
                </div>
              </div> -->
              <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></i></div>
                <div class="text">
                  <p>+52 55 5508 3151</p>
                </div>
              </div>
              <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></i></div>
                <div class="text">
                  <p>Anillo Perif. 4302, Jardínes de Pedregal.</p>
                </div>
              </div>
            </section>
            <section class="social-media">
              <h4><b>Instagram</b></h4>
              <div class="box">
                <a href="https://www.instagram.com/vitek.mx/">
                  <img src="../public/icons/instagream.png" alt="">
                </a>
              </div>
            </div>
        </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>

</html>