* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

h6 {
    margin-left: 24%;
    margin-right: 24%;
    padding-bottom: 20px;
    font-size: 26px;
    text-align: start;
}

/* Navbar */

.bg-white {
    position: fixed;
    --bs-bg-opacity: 1;
    background-color: white;
    top: 0;
    width: 100%;
    font-size: 20px;
    padding-right: 20px;
    z-index: 1;
}

.bg-white a {
    color: black;
}

.bg-white img {
    width: 180px;
    padding: 0 30px 0 30px;
}

.bg-white .nav-item {
    color: black;
    padding-left: 30px;
}

.img-fluid {
    object-fit: cover ;
}

/* Menu */

.menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 70vh;
    margin-top: 20px;
}

.menu img {
    position: absolute;
    height: 100%;
    background-color: white;
    opacity: 1;
    object-fit: cover;
    width: 60%;
}

.menu h1 {
    text-align: center;
    font-size: 50px;
    color: black;
}

/* About */

.about {
    padding: 0;
    background-color: white;
    text-align: center;
    margin-bottom: 50px;
}

.about h2 {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 50px;
}

.mision-vision {
    display: inline-grid;
    grid-gap: 50px;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: auto;
}

.mision-vision .card-title {
    font-size: 2rem;
}

.mision-vision p {
    font-size: 22px;
}

.mision-vision h3 {
    font-size: 24px;
}

.vision, .mision {
    width: 32rem;
}

/* Services  */

.services {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 80vh;
    background-color:rgb(245,245,245);
    border-color: gray;
    padding-bottom: 90px;
}

.services h6 {
    margin-left: 14%;
}

.services .container-services {
    display: flex;
}

.services .container-services .card {
    height: 380px;
    width: 380px;
    margin: 40px;
    box-shadow: 5px 5px 15px rgb(192,192,192);
    overflow: hidden;
    position: relative;
    border: 0;
}

.services .container-services .card img {
    height: 380px;
    width: 150%;
    border-radius: none;
    object-fit: cover;
    opacity: 1;
}

.services .container-services .intro {
    height: 60px;
    width: 380px;
    padding-bottom: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    color: white;
    transition: .8s;
}

.services .container-services .card-face {
    position: absolute;
    align-self: flex-end;
}

.services .container-services h1 {
    margin: 10px;
    font-size: 38px;
}

.services .container-services p {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.services .container-services .card:hover {
    cursor: pointer;
}

.services .container-services .card:hover .intro {
    height: 240px;
    background: rgb(120,120,120);
    opacity: .9;
}

.services .container-services .card:hover p {
    opacity: 1;
    visibility: visible;
}

/* Contact  */

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(../img/acercade1.jpg); */
    background-size: cover;
    height: 570px;
    margin-bottom: 80px;
}

.contact img {
    position: absolute;
    height: 100%;
    background-color: white;
    opacity: 1;
    object-fit: cover;
    width: 100%;
}

.contact .card {
    background-color: transparent;
    border: none;
}

.contact .card a {
    position: relative;
    display: inline-block;
    margin: 22px;
    padding:  8px 28px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(211,211,211);
    border-radius: 3px;
    opacity: .8;
    color: black;
    letter-spacing: 2px;
    font-size: 24px;
    transition: 0.5s;
}

.contact .card a:hover {
    color: black;
    font-weight: bold;
}

.contact .card a span {
    display: block;
    position: absolute;
    background: black;
}

.contact .card a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
}

.contact .card a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.2s;
}

.contact .card a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
}

.contact .card a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
}

.contact .card a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
    transition-delay: 0.5s;
}

.contact .card a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.2s;
    transition-delay: 0.2s;
}

.contact .card a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.contact .card a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.contact h1 {
    font-size: 53px;
    color: black;
    padding-bottom: 10px;
}

.contact p {
    font-size: 26px;
    color: black;
}

/* Products */

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-bottom: 90px;
}

.products div.box {
    margin: 20px;
}

.products .box {
    display: flex;
    position: relative;
    perspective: 1000px;
    align-items: center;
    justify-content: center;
}

.products .box .content .icon {
    color: #fff;
}

.products .box h1 {
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 36px;
    position: absolute;
    text-transform: uppercase;
    z-index: 4;
    color: white;
    text-align: center;
    margin: 5px;
}

.products .box .box-img {
    transform: rotateY(0);
    transition: all 0.5s ease-in-out 0s;
    height: 100%;
}

.products .box:hover .box-img {
    transform: rotateY(-90deg);
}

.products .box .box-img img{
    width: 250px;
    height: 320px;
    object-fit: cover;
    opacity: 1;
}

.products .box .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 110px 50px;
    box-sizing: border-box;
    transform: rotateY(90deg);
    transition: all 0.1s ease-in-out 0s;
}

.products .box:hover h1 {
    opacity: 0;
    transition: all 0.1s ease-in-out 0s;
}

.products .box:hover .content {
    transform: rotateY(0);
}

.products .box .content h3 {
    font-size: 28px;
    margin: 0;
}

.products .box .content p {
    font-size: 24px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
    margin: 20px 0;
}

.products .box .content a {
    z-index: 3;
}

.steel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(../img/acercade1.jpg); */
    background-size: cover;
    height: 570px;
}

.steel img {
    position: absolute;
    height: 100%;
    background-color: white;
    opacity: .8;
    object-fit: cover;
    width: 100%;
}

.steel .card {
    background-color: transparent;
    border: none;

}

.steel h1 {
    font-size: 53px;
    color: black;
    padding-bottom: 10px;
}

.steel .card a {
    position: relative;
    display: inline-block;
    margin: 22px;
    padding:  8px 28px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(211,211,211);
    border-radius: 3px;
    opacity: .8;
    color: black;
    letter-spacing: 2px;
    font-size: 24px;
    transition: 0.5s;
}

.steel .card a:hover {
    color: black;
    font-weight: bold;
}

.steel .card a span {
    display: block;
    position: absolute;
    background: black;
}

.steel .card a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
}

.steel .card a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.2s;
}

.steel .card a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
}

.steel .card a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
}

.steel .card a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
    transition-delay: 0.5s;
}

.steel .card a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.2s;
    transition-delay: 0.2s;
}

.steel .card a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.steel .card a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

/* information */

.information {
    /* margin-top: 110px; */
    padding-top: 60px;
    display: flex;
    justify-content: center;
    height: auto;
    color: white;
    background-color: rgb(156, 156, 156);
    font-size: 16px;
    padding-bottom: 60px;
}

.information h4 {
    font-weight: 200;
    border-bottom: 1px solid white;
    padding: 20px 0;
}

.information .social-media {
    padding-left: 150px;
    font-weight: 300;
}

.information .social-media img {
    width: 14px;
}

